body { }
#main-menu { position: relative; width: 100%; height: 30px; background: #AABDE6; }
#main-menu #main-menu-subline { position: absolute; top: 30px; width: 100%; height: 30px; background: #BDD2FF; }